<ul class="nav nav-list">
<li class="nav-header"><h4>Browse</h4></li>

  <a class="btn" href="#/selection/all" id='browse-all'>All</a>
    <a class="btn" href="#/selection/fast" id='browse-fast'>Fast</a>
    <a class="btn" href="#/selection/slow" id='browse-slow'>Slow</a>

<% if (fodderApp.currentUser == null) { %>
 <h6>Please Sign In or Sign Up to create and view your own recipe collections</h6>
<% } else { %>

    <li class="nav-header"><h4><%= user.escape("username") %>'s collections</h4></li>
 <% collections.forEach( function (collection) { %>
 <% collection_url = "#/users/" + user.escape("id") + "/collections/" + collection.escape("id") %>
 <li class="active">
   <a href="<%=collection_url%>" class="thumbnail collection" >
  <div class="caption"><h4><%= collection.escape("name") %></h4></div>  
<button class="danger btn-small" id="delete-button"" data-id="<%=collection.escape("id") %>">
Delete</button>
   </a>
    
 </li>
 <% }); %>
 <br>
    <li>
    <% create_collection_url = "users/" + user.escape("id") + "/collections" %>
    <form class="form" action="<%= create_collection_url %>" method="post">
      <input class="span12" type="text" placeholder="Name" name="collection[name]">
   <input
      name="authenticity_token"
      type="hidden"
      <% var csrf_token = JSON.parse($("#bootstrapped_csrf_token").html()).csrf_token %>
      value="<%= csrf_token %>">
      <button type="submit" class="btn">Create collection</button>
    </form>
    </li>
    
    <% } %>
</ul>





 
    