
 
<div class="container" id="recipe_list">
 <h3><%= title %></h3>
 
 <% if (version == "collection") { %>
 <div class="hero-unit collection-options">
  Export ingredients list for all items in collection: <button class="btn-small">Make list</button>
 </div>
 <% } %>
 
 
<% var count = 1 %>
<ul class="thumbnails">
    <% recipes.forEach(function (recipe) { %>
    <% image_url = recipe.escape("image_url") %>
    <% if (count % 4 == 0) { %>
      <div class="row-fluid">
    <% }; %>
       <li class="span3">
        
         <a href="#/recipes/<%= recipe.id %>" class="thumbnail recipe">   
         
          <img class="thumbnail_img" src="<%= image_url %>" alt="">
         
         <div class="caption dotdotdot">
         <h4><%= recipe.escape("name") %></h4>
         <h5>From <%= recipe.escape("source_name") %></h5>      
          </div>
          
         <% if (version == "collection") { %>
        <button class="btn-danger btn-mini delete" id="recipe-delete-button" data-id="<%=recipe.escape("id")%>">
        <i class="icon-trash icon-white"></i></button>
         <% }; %>
         
         <br>
       
         <div class="caption drag" data-id="<%=recipe.escape("id")%>">&#8853;</div>
       </a>
        
       </li>
     <% if (count % 4 == 0) { %>
       </div>
     <% } %>
     <% count++ %>
    <% }); %>
</ul>
	
</div>

<script>
    $(".drag").draggable({
      helper: 'clone'
    });

    $('.dotdotdot').dotdotdot({ 
        ellipsis: '... ', 
        wrap: 'word', 
        after: null, 
        watch: true, 
        height: 70 
    });
</script>

