<div class="row-fluid" id="recipe_show">
<div class = "span6" >

<h1><%= recipe.escape("name") %></h1>


<h4>From <%= recipe.escape("source_name") %></h4>


<h5>Ingredients:</h5>
<ul>
<% ingredients.forEach(function (ingredient) { %>
<li><%= ingredient.escape("food")%></li>
<% }); %>
</ul>


<% rec_url = "https://" + recipe.escape("source_url") %>
<h5>Method:</h5>
Please visit <a href = <%= rec_url %>>here</a>


</div>

<div class = "span6">
<% image_url = recipe.escape("image_url") %>
<img src="<%= image_url %>" alt="some_text" width="250px">
<br>
<h5>Energy: <%= recipe.escape("energy_value") %> <%= recipe.escape("energy_unit") %></h5>

<h5>Total preparation time: <%= recipe.escape("total_time_s") %> seconds</h5>

<h5>Number of servings: <%= recipe.escape("num_servings") %></h5>

</div>

</div>
